<!doctype html>
<html lang="ru">
    <head>
        {{> head }}
        <base href="{{{ baseHref }}}"/>
        {{{ scriptsHead }}}
    </head>
    <body>
        <app-root></app-root>
        {{{ scriptsBody }}}
    </body>
</html>